*{
    box-sizing: border-box;
}
.container{
    background-color: white;
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: repeat(3, 100px);
    gap: 1em;

}

.container *{
    background-color: red;
    border: 1px solid black;
    color: aliceblue;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header, footer{
    grid-column: 1/4;
    
}

@media screen and (max-width: 600px) {
   aside, article{
    grid-column: 1/4;
   }

   .container{
    grid-template-rows: repeat(5, 100px);
   }
    
}